<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <!--<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://gaming-cdn.com/img/products/6842/hcover/1920x620/6842.jpg?v=1696933764" class="bd-placeholder-img" width="100%" height="100%">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Juegos más vendidos</h1>
          <p class="boton-vermas"><a class="btn btn-lg btn-primary" href="#">Ver Más</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://gaming-cdn.com/img/products/12715/hcover/1920x620/12715.jpg?v=1697010471" class="bd-placeholder-img" width="100%" height="100%">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Juegos mejor valorados</h1>
          <p class="boton-vermas"><a class="btn btn-lg btn-primary" href="#">Ver más</a></p>
        </div>
      </div>
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>

<div class="filtros">
  <h4 id="recomendados"> Plataformas: </h4>
  <p> <a class="enlaces-limpios" (click)="filter('PC')">PC</a> <br>
    <a class="enlaces-limpios" (click)="filter('PS4')">PlayStation</a> <br>
    <a class="enlaces-limpios" (click)="filter('XBOX')">Xbox</a> <br>
    <a class="enlaces-limpios" (click)="filter('NS')">Switch</a> <br>
  </p>

  <h4 id="explorar"> Explorar por género: </h4>
  <p>
    <a class="enlaces-limpios" (click)="filter('ftp')">Free to play</a> <br>
    <a class="enlaces-limpios" (click)="filter('aa')"> Acceso anticipado </a> <br>
    <a class="enlaces-limpios" (click)="filter('acci')"> Acción </a> <br>
    <a class="enlaces-limpios" (click)="filter('aven')"> Aventura </a> <br>
    <a class="enlaces-limpios" (click)="filter('cas')"> Casuales </a> <br>
    <a class="enlaces-limpios" (click)="filter('car')"> Carreras </a> <br>
    <a class="enlaces-limpios" (click)="filter('dep')"> Deportes </a> <br>
    <a class="enlaces-limpios" (click)="filter('estr')"> Estrategia </a> <br>
    <a class="enlaces-limpios" (click)="filter('mult')"> Multijugador </a> <br>
    <a class="enlaces-limpios" (click)="filter('rol')"> Rol </a> <br>
    <a class="enlaces-limpios" (click)="filter('sim')"> Simulación </a> <br>
    <a class="enlaces-limpios" (click)="filter('otros')"> Otros </a> <br>
  </p>
</div>

<div class="todos-productos">
  <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'NS' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces NS">
    <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
    <h3>Juego Aventura 2000</h3>
    <p class="descripcion">Emociónate con las increíbles aventuras que te esperan en este juego de acción y aventura.</p>
    <p class="precio">39,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="numero-productos" (click)="addProduct('Aventura2000',39.99)">Añadir producto al carrito</button>
    </div>
  </div>
  <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'PC' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces PC">
    <div class="porcentaje-descuento">20% dto.</div>
    <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
    <h3>Juego Estrategia Total</h3>
    <p>Conquista el mundo con este juego de estrategia que pondrá a prueba tu astucia y habilidades tácticas.</p>
    <p class="precio">49,99€</p>
    <p class="precio-anterior">59,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="numero-productos" (click)="addProduct('EstrategiaTotal',49.99)">Añadir producto al carrito</button>
    </div>
  </div>
  <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'NS' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces NS">
    <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
    <h3>Juego Misterioso VR</h3>
    <p class="descripcion">Sumérgete en la realidad virtual y descubre los secretos ocultos en este intrigante juego de misterio.</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="numero-productos" (click)="addProduct('MisteriosoVR',29.99)">Añadir producto al carrito</button>
    </div>
  </div>
  <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'NS' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces NS">
    <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
    <h3>Juego de Acción Extrema</h3>
    <p class="descripcion">Experimenta la adrenalina en cada momento con este juego de acción que te mantendrá al borde del asiento.</p>
    <p class="precio">34,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="numero-productos" (click)="addProduct('AccionExtrema',34.99)">Añadir producto al carrito</button>
    </div>
  </div>
    <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'PS4' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces PS4">
      <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
      <h3>Rescate en la Ciudad</h3>
      <p class="descripcion">Participa en misiones de rescate emocionantes en este juego de simulación urbana.</p>
      <p class="precio">44,99€</p>
    </a>
      <div class="centrar-sumarproducto">
        <button class="numero-productos" (click)="addProduct('RescateCiudad',44.99)">Añadir producto al carrito</button>
      </div>
    </div>
    <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'PS4' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces PS4">
      <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
      <h3>Carrera Extrema</h3>
      <p class="descripcion">Siente la velocidad en tus venas con este juego de carreras extremas lleno de desafíos.</p>
      <p class="precio">39,99€</p>
    </a>
      <div class="centrar-sumarproducto">
        <button class="numero-productos" (click)="addProduct('CarreraExtrema',39.99)">Añadir producto al carrito</button>
      </div>
    </div>
    <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'PS4' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces PS4">
      <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
      <h3>Aventuras Submarinas</h3>
      <p class="descripcion">Explora los misterios del océano en este juego de aventuras submarinas lleno de criaturas fascinantes.</p>
      <p class="precio">54,99€</p>
    </a>
      <div class="centrar-sumarproducto">
        <button class="numero-productos" (click)="addProduct('AventurasSubmarinas',54.99)">Añadir producto al carrito</button>
      </div>
    </div>
    <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'PC' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces PC" >
      <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
      <h3>Sobrevivencia Extrema</h3>
      <p class="descripcion">Enfréntate a desafíos extremos para sobrevivir en este juego de aventuras y estrategia.</p>
      <p class="precio">49,99€</p>
    </a>
      <div class="centrar-sumarproducto">
        <button class="numero-productos" (click)="addProduct('SobrevivenciaExtrema',49.99)">Añadir producto al carrito</button>
      </div>
    </div>
    <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'PC' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces PC">
      <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
      <h3>Exploradores del Espacio</h3>
      <p class="descripcion">Embárcate en una emocionante aventura espacial con este juego de exploración galáctica.</p>
      <p class="precio">59,99€</p>
    </a>
      <div class="centrar-sumarproducto">
        <button class="numero-productos" (click)="addProduct('ExploradoresEspacio',59.99)">Añadir producto al carrito</button>
      </div>
    </div>
  <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'PS4' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces PS4">
    <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="numero-productos" (click)="addProduct('Prod1',29.99)">Añadir producto al carrito</button>
    </div>
  </div>
  <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'NS' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces PS4">
    <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="numero-productos" (click)="addProduct('Prod1',29.99)">Añadir producto al carrito</button>
    </div>
  </div>
  <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'NS' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces PS4">
    <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="numero-productos" (click)="addProduct('Prod1',29.99)">Añadir producto al carrito</button>
    </div>
  </div>
  <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'NS' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces PC" >
    <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="numero-productos" (click)="addProduct('Prod1',29.99)">Añadir producto al carrito</button>
    </div>
  </div>
  <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'NS' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces PC">
    <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="numero-productos" (click)="addProduct('Prod1',29.99)">Añadir producto al carrito</button>
    </div>
  </div>
  <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'NS' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces PC" >
    <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="numero-productos" (click)="addProduct('Prod1',29.99)">Añadir producto al carrito</button>
    </div>
  </div>

  <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'NS' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces PC" href="">
    <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="numero-productos" (click)="addProduct('Prod1',29.99)">Añadir producto al carrito</button>
    </div>
  </div>

  <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'NS' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces NS" href="">
    <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="numero-productos" (click)="addProduct('Prod1',29.99)">Añadir producto al carrito</button>
    </div>
  </div>

  <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'NS' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces PS4" href="">
    <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="numero-productos" (click)="addProduct('Prod1',29.99)">Añadir producto al carrito</button>
    </div>
  </div>

  <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'NS' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces XBOX">
    <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="numero-productos" (click)="addProduct('Prod1',29.99)">Añadir producto al carrito</button>
    </div>
  </div>
  <div class="productos" *ngIf="sessionStorage.getItem('filter') === 'NS' || sessionStorage.getItem('filter') === ''"><a class="productos-enlaces XBOX">
    <img alt="Imagen Productos" class="imagen-productos" src="./assets/logo-BD.png">
    <h3>Producto prueba</h3>
    <p class="descripcion">Descripción producto de prueba</p>
    <p class="precio">29,99€</p>
  </a>
    <div class="centrar-sumarproducto">
      <button class="numero-productos" (click)="addProduct('Prod1',29.99)">Añadir producto al carrito</button>
    </div>
  </div>
</div>
<div>

<nav id="paginas" aria-label="Page navigation example" >
  <ul class="pagination justify-content-center" >
    <li class="page-item" >
      <a class="page-link disabled" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link active" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
    <li class="page-item"><a class="page-link" href="#">127</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>


<router-outlet></router-outlet>
